<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://103.232.101.83:3306/cse461</property>
        <property name="connection.username">bari</property>
        <property name="connection.password">bari</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <mapping class="Model.Student"/>
    </session-factory>
</hibernate-configuration>